APP_PORT={{ remnawave_panel_app_port }}
METRICS_PORT={{ remnawave_panel_metrics_port }}
API_INSTANCES={{ remnawave_panel_api_instances }}

DATABASE_URL="postgresql://{{ remnawave_panel_postgres_user | urlencode }}:{{ remnawave_effective_postgres_password | urlencode }}@remnawave-db:5432/{{ remnawave_panel_postgres_db | urlencode }}"
REDIS_SOCKET=/var/run/valkey/valkey.sock

APP_SECRET={{ remnawave_effective_app_secret | to_json }}

IS_TELEGRAM_NOTIFICATIONS_ENABLED={{ remnawave_panel_enable_telegram_notifications | bool | lower }}
TELEGRAM_BOT_TOKEN={{ remnawave_panel_telegram_bot_token | to_json }}
TELEGRAM_NOTIFY_USERS={{ remnawave_panel_telegram_notify_users | to_json }}
TELEGRAM_NOTIFY_NODES={{ remnawave_panel_telegram_notify_nodes | to_json }}
TELEGRAM_NOTIFY_CRM=change_me
TELEGRAM_NOTIFY_SERVICE=change_me
TELEGRAM_NOTIFY_TBLOCKER=change_me

PANEL_DOMAIN={{ remnawave_panel_domain }}
FRONT_END_DOMAIN={{ remnawave_panel_frontend_domain | to_json }}
SUB_PUBLIC_DOMAIN={{ remnawave_panel_subscription_public_domain | to_json }}

METRICS_USER={{ remnawave_panel_metrics_user }}
METRICS_PASS={{ remnawave_effective_metrics_password | to_json }}

WEBHOOK_ENABLED=false
WEBHOOK_URL=https://example.invalid/remnawave
WEBHOOK_SECRET_HEADER={{ remnawave_effective_webhook_secret | to_json }}

BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED=false
BANDWIDTH_USAGE_NOTIFICATIONS_THRESHOLD=[60, 80]
NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED=false
NOT_CONNECTED_USERS_NOTIFICATIONS_AFTER_HOURS=[6, 24, 48]
EXPIRATION_NOTIFICATIONS_ENABLED=false
EXPIRATION_NOTIFICATIONS=[-72, -48, -24, 24]
EXPORT_TO_STREAM_ENABLED=false
EXPORT_TO_STREAM_MAXLEN=3000

SHORT_UUID_METHOD={{ remnawave_panel_short_uuid_method }}
SHORT_UUID_LENGTH={{ remnawave_panel_short_uuid_length }}

POSTGRES_USER={{ remnawave_panel_postgres_user }}
POSTGRES_PASSWORD={{ remnawave_effective_postgres_password | to_json }}
POSTGRES_DB={{ remnawave_panel_postgres_db }}
