---
- name: Check NVIDIA GPU status
  ansible.builtin.command: nvidia-smi
  register: nvidia_smi_output
  changed_when: false
  failed_when: false
  become: true

- name: Install NVIDIA drivers if not present
  ansible.builtin.include_tasks: nvidia-driver.yml
  when:
    - nvidia_install_driver_if_missing | bool
    - nvidia_smi_output.rc != 0

- name: Add NVIDIA docker apt key
  ansible.builtin.apt_key:
    url: https://nvidia.github.io/nvidia-docker/gpgkey
    state: present
  become: true

- name: Add NVIDIA container toolkit repository
  ansible.builtin.get_url:
    url: https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list
    dest: /etc/apt/sources.list.d/nvidia-container-toolkit.list
    mode: "0644"
    owner: root
    group: root
  become: true

- name: Install NVIDIA container packages
  ansible.builtin.apt:
    name:
      - nvidia-container-runtime
      - nvidia-cuda-toolkit
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: true
  notify: Restart docker
