---
- name: Install NVIDIA driver package
  ansible.builtin.apt:
    name: "{{ nvidia_driver_package }}"
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: true
  register: nvidia_driver_install_result

- name: Reboot after NVIDIA driver installation
  ansible.builtin.reboot:
  become: true
  when:
    - nvidia_reboot_after_driver_install | bool
    - nvidia_driver_install_result.changed
